.login-reg{
  color: #03a87c;
}

/* Home.js */

.card-header{
  background-color: white
}

.tabs{
  color: black
}

.home-img{
  height: 350px;
  width: 750px;
  padding-left: 50px;
}

.card-top{
  padding: 40px;
}

.card{
  padding: 20px;
}

/* Login */